# Full FreeDoom campaign scenario. FreeDoom is bundled with ViZDoom.
doom_game_path = freedoom1.wad

doom_map = E1M1
episode_start_time = 1
episode_timeout = 126000
living_reward = -0.001
map_exit_reward = 1

screen_resolution = RES_320X240
screen_format = RGB24
render_hud = true
render_crosshair = true
render_weapon = true
labels_buffer_enabled = true

available_buttons =
{
    ATTACK
    SPEED
    STRAFE
    USE
    MOVE_RIGHT
    MOVE_LEFT
    MOVE_BACKWARD
    MOVE_FORWARD
    TURN_RIGHT
    TURN_LEFT
}

available_game_variables =
{
    HEALTH
    ARMOR
    AMMO0
    SELECTED_WEAPON
    SELECTED_WEAPON_AMMO
    POSITION_X
    POSITION_Y
    ANGLE
}

mode = PLAYER
